*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.react-flow__node-ConstantSource {
  width: 120px;
}
.react-flow__node-Gain {
  width: 120px;
}

.customNode {
  background: #999;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  line-height: 10px;
}

.selected .customNode {
  background: #777;
}

.customNode_header {
  align-items: center;
  background: #444;
  border-radius: 4px 4px 0 0;
  display: flex;
  font-weight: bold;
  height: 20px;
  justify-content: center;
  padding: 5px;
}

.customNode_body {
  padding: 5px 0;
}

.customNode_body:after {
  clear: both;
  content: "";
  display: block;
}

.customNode_inputs,
.customNode_outputs {
}

.customNode_inputs {
  float: left;
}

.customNode_inputs .customNode_item {
  justify-content: flex-start;
}

.customNode_outputs {
  float: right;
}

.customNode_outputs .customNode_item {
  justify-content: flex-end;
}

.customNode_editor {
  clear: both;
  padding: 5px 0;
}

.customNode_editor label {
  display: flex;
  align-items: center;
}

.customNode_editor input[type="text"],
.customNode_editor input[type="number"],
.customNode_editor input[type="range"] {
  height: 20px;
  margin: 0;
  position: relative;
  width: 100%;
}

.customNode_editor input[type="radio"] {
  height: 20px;
  margin: 0 5px 0 0;
}

.customNode_editor input[type="file"] {
  width: 85px;
}

.customNode_editor .toggle {
  display: block;
  position: relative;
}

.customNode_editor .toggle .option {
  background: #444;
  display: inline-block;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  width: 20px;
}

.customNode_editor .toggle input {
  appearance: none;
  height: 0;
  margin: 0;
  padding: 0;
  width: 0;
}

.customNode_editor .toggle input:after {
  background: #fff;
  content: "";
  display: block;
  height: 14px;
  left: 0;
  margin: 3px;
  position: absolute;
  top: 0;
  transform: translateX(0);
  transition: transform 0.2s ease;
  width: 14px;
}

.customNode_editor .toggle input:checked:after {
  transform: translateX(20px);
}

.customNode_editor .equalizer {
  display: flex;
  font-size: 11px;
  position: relative;
  text-align: center;
}

.customNode_editor .equalizer:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50px;
  height: 1px;
  width: 100%;
  background: #fff;
}

.customNode_editor .equalizer input[type="range"] {
  appearance: slider-vertical;
  display: block;
  height: 100px;
  margin-bottom: 4px;
  width: 24px;
}

.customNode_editor button {
  font-size: inherit;
}

.customNode_item {
  align-items: center;
  clear: both;
  display: flex;
  padding: 5px 10px;
  position: relative;
}

.customNode_item .react-flow__handle {
  border-width: 2px;
  height: 10px;
  width: 10px;
  top: 50%;
  transition: height 0.2s ease, width 0.2s ease;
}

.customNode_item .react-flow__handle-left {
  transform: translateX(-50%) translateY(-50%);
  left: 0;
}

.customNode_item .react-flow__handle-right {
  transform: translateX(50%) translateY(-50%);
  right: 0;
}

.customNode:hover .react-flow__handle,
.react-flow[data-connecting-handletype="source"] .customNode_item .react-flow__handle.target,
.react-flow[data-connecting-handletype="target"] .customNode_item .react-flow__handle.source {
  height: 14px;
  width: 14px;
}

.react-flow .react-flow__edge-path {
  stroke-width: 3;
}

@keyframes animateStrokeDashOffset {
  to {
    stroke-dashoffset: 12;
  }
}
.react-flow .react-flow__edge.selected .react-flow__edge-path,
.react-flow .react-flow__edge.updating .react-flow__edge-path {
  animation: animateStrokeDashOffset 0.25s linear infinite;
}
.react-flow .react-flow__edge.updating .react-flow__edge-path {
  stroke-dasharray: 3;
}
.react-flow .react-flow__edge.selected .react-flow__edge-path {
  stroke-dasharray: 6;
}

.contextMenu {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #ccc;
  list-style: none;
  margin: 0;
  padding: 5px;
}

.contextMenu li {
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  line-height: 1;
  padding: 5px 10px;
  position: relative;
  white-space: nowrap;
}

.contextMenu li:hover,
.contextMenu li:hover .sub li:hover {
  background: #bbb;
  color: #fff;
}

.contextMenu li:hover .sub {
  color: #000;
}

.contextMenu span {
  margin-left: 8px;
}

.contextMenu .sub {
  display: none;
  left: 100%;
  position: absolute;
  top: -6px;
  z-index: 1;
}

.contextMenu li:hover .sub {
  display: block;
}
