body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.customNode {
  background: #9ca8b3;
  color: #fff;
  padding: 10px;
  font-size: 12px;
}

.react-flow .react-flow__edge-path {
  stroke-width: 3;
}

.contextMenu {
  background: #eee;
  box-shadow: 2px 2px 4px #ccc;
  list-style: none;
  margin: 0;
  padding: 0;
}

.contextMenu li {
  cursor: pointer;
  padding: 4px;
}

.contextMenu li:hover {
  background: #ccc;
}
